.layout-cabecalho {
  line-height: 90px;
  height: 90px;
  background-color: #dda684;
}
.layout-cabecalho--position {
  background-color: #dda684;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.layout-planos {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .layout-planos .row > div:not(:last-child) {
    margin-bottom: 40px;
  }
}
.layout-principal {
  padding: 140px 0;
  background-color: #ffffff;
  padding-bottom: 3.5%;
}
.layout-depoimento {
  padding: 40px 0;
  background-color: #e0c2b0;
}
.layout-rodape {
  padding: 40px 0;
  background-color: #e0c2b0;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}
